<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">TEIMMA</a>
    </nav>


    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 60px);">
        <a class="btn btn-primary mr-2" href="/annotator/">Annotator</a>
        <a class="btn btn-secondary ml-2" href="/upload/">Plagiarism</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
